.detail{
    text-align: center;
    border: 5px solid black;
    width: 30%;
}
.btn {
    transition: 2s;
    background-color: black;
    border: none;
    padding: .5rem 1.3rem;
    margin-top: .5rem;
    color: #fff;
    margin-bottom: 1rem;
    margin-left: .3rem;
}
.btn:hover {
    background-image: url(../card/backCard.png);
    color: #fff;
    cursor: pointer;
}